# -----------------------------
# Virtual Environment
# -----------------------------
.venv/

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Distribution / Build
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# SQLite Databases
# -----------------------------
*.db
*.sqlite3

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/